body {
    background-color: #d02308;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #e98272;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
}
